---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/ufmg_ps.jpg',
      alt: 'Praça de Serviçosa da UFMG',
    }}
  >
    <Fragment slot="title">
      Saiba mais sobre o
      <span class="text-accent dark:text-white highlight"> MOSAIC</span>
    </Fragment>

    <Fragment slot="subtitle">O MOSAIC foi fundado em 2024 por pesquisadores do Departamento de Ciência da Computação e da Escola de Música da Universidade Federal de Minas Gerais interesados na interseção entre Inteligência Artificia (IA) e Música.</Fragment>
  </Hero>
  
  <!-- Features3 Widget ************** -->

  <Features2
    title="Tópicos de pesquisa"
    subtitle="Atualmente, o grupo tem focado principalmente em problemas relacionados à produção musical, análise de padrões culturais e musicoterapia."
    columns={1}
    isBeforeContent={false}
    items={[
      {
        title: 'IA & Produção Musical',
        description:
          'Investigamos como sistemas de IA podem colaborar na criação e na performance musical, tanto como ferramentas quanto como agentes criativos. No campo da composição, exploramos modelos generativos capazes de produzir melodias, harmonias, arranjos e estruturas musicais coerentes com diferentes estilos, incorporando controle expressivo e interação com humanos. Na performance musical, buscamos sistemas que possam interpretar partituras com expressividade, improvisar em tempo real e adaptar-se ao contexto e aos parceiros musicais.',
        
      },
      {
        title: 'IA & Análise de Padrões Culturais',
        description:
          'Estudamos como técnicas de IA podem revelar padrões culturais presentes em grandes coleções musicais. Investigamos abordagens de aprendizado de máquina para identificar estilos, gêneros, tendências históricas, influências entre artistas e transformações na prática musical ao longo do tempo. Também buscamos compreender como a música circula e é consumida em plataformas digitais, contribuindo para reflexões críticas sobre diversidade, representatividade e dinâmicas de popularidade na cultura musical contemporânea.',
        
      },
      {
        title: 'IA & Musicoterapia',
        description:
          'Exploramos como a IA pode contribuir com a prática e a pesquisa em musicoterapia, ampliando o potencial de intervenção e personalização do cuidado. Desenvolvemos sistemas capazes de analisar respostas musicais e fisiológicas de pacientes, gerar conteúdos musicais adaptados a estados emocionais ou cognitivos específicos e apoiar a documentação e avaliação de sessões terapêuticas.',
        
      },
    ]}
  />

</Layout>
