---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'MOSAIC',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Projetos em andamento',
        href: 'projetos',
        target: '_blank',
      },
      { text: 'Sobre', href: 'about', target: '_blank',},
    ]}
    image={{ src: '~/assets/images/mosaic_v2.png', alt: 'Mosaic' }}
  >
    <span slot="title">MOSAIC</span>

    <span slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">
          Music-Oriented Systems and Artificial Intelligence for Creativity (MOSAIC) é um grupo de pesquisa interdisciplinar da UFMG com objetivo de avançar o estado da arte da Inteligência Artificial aplicada à música, tanto em contextos de produção musical quanto na análise de padrões culturais, musicoterapia e no apoio à educação musical.
        </span>
      </span>
    </span>
  </Hero>
  <BlogLatestPosts
    title="News"
    information={` Notícias sobre tópicos de interesse
                `}
  />
</Layout>
